@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla/Karla-Regular.ttf") format("woff2"),
    url("./assets/fonts/Karla/Karla-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla/Karla-Bold.ttf") format("woff2"),
    url("./assets/fonts/Karla/Karla-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

$cyan: hsl(179, 62%, 43%);
$light-cyan: rgba(74, 190, 189, 255);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: white;
  background-color: $light-gray;
  grid-template-rows: 1fr auto;
}

main {
  width: 39em;
  height: 29em;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.top {
  padding: 2.5em;
  display: grid;
  gap: 15px;

  .title {
    color: $cyan;
    font-weight: bold;
  }

  .subtitle {
    color: $bright-yellow;
    font-weight: 700;
    margin-top: 10px;
  }

  .description {
    color: $grayish-blue;
    line-height: 1.5625em;
  }
}

.subtitle {
  font-size: 1.1em;
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-grow: 1;
}

.monthly-subscription {
  padding: 2.5em;
  width: 316px;
  background-color: $cyan;
  color: white;
  display: grid;
  border-bottom-left-radius: 5px;

  .description {
    margin-top: 9px;
    font-size: 15px;
  }
}

.subscription-price {
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-top: 18px;
}

.price {
  font-size: 2em;
  font-weight: bold;
}

.sub-type {
  opacity: 0.5;
}

.why-us {
  padding: 2.5em;
  width: 316px;
  background-color: $light-cyan;
  color: white;
  border-bottom-right-radius: 5px;
  display: grid;
}

.feautures {
  font-size: 13px;
  line-height: 1.5em;
  color: $light-gray;
  margin-top: 15px;
  opacity: 0.75;
}

.btn-sign-up {
  margin-top: 26px;
  width: 100%;
  height: 2.9em;
  background-color: $bright-yellow;
  color: white;
  border: none;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer; 

  &:hover {
    background-color: white;
    color: $bright-yellow;
  }

  &:active {
    transform:  scale(0.9);
  }
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
  color: black;

  a {
    color: $cyan;
  }
}

/* ---------------- RESPONSIVE DESIGN ---------------- */
@media screen and (max-width: 575px) {
  main {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    .subtitle {
      line-height: 1.3em;
    }

    .description {
      margin-top: 0.5em;
      line-height: 1.9em;
      font-size: 15px;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .monthly-subscription {
    width: 100%;
    border-radius: 0;
  }

  .why-us {
    width: 100%;
    border-bottom-left-radius: 5px;
  }
}
